.main-color,
div.news div.slider-news .slick-prev,
div.news div.slider-news .slick-next {
  background-color: #2285c4;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s;
}
.secondary {
  background-color: rgba(241,241,241,0.7);
  color: #555555;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s;
}
.secondary:hover {
  background-color: #2285c4;
}
a.main-color:hover,
button.main-color:hover,
input.main-color:hover,
div.block.small div.slider-gallery .slick-prev:hover,
div.block.small div.slider-gallery .slick-next:hover,
div.news div.slider-news .slick-prev:hover,
div.news div.slider-news .slick-next:hover,
div.opinion.slider-small div.slider-mini .slick-prev:hover,
div.opinion.slider-small div.slider-mini .slick-next:hover {
  background-color: #0467a6;
}
div.gallery-block div.gallery-img:hover div.corner-line {
  border-color: #2285c4;
}
header div.header-top div.wrap-main-menu nav.main-menu > li > a,
header div.header-top div.wrap-main-menu a.ic-main-menu-burger {
  background-color: transparent;
}
header div.header-top div.wrap-main-menu nav.main-menu > li.parent > ul > li:hover > a > div,
header div.header-top div.wrap-main-menu nav.main-menu > li.parent > ul > li.parent2 > ul > li:hover > a > div,
header.tone-dark div.header-top div.wrap-main-menu nav.main-menu > li.parent:hover > a,
div.block.small div.slider-gallery .slick-prev,
div.block.small div.slider-gallery .slick-next,
div.descriptive div.descriptive-tabs-wrap ul.tabs li.active,
div.opinion.slider-small div.slider-mini .slick-prev,
div.opinion.slider-small div.slider-mini .slick-next {
  background-color: #2285c4;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s;
}
header div.header-top div.wrap-main-menu nav.main-menu > li > a.selected > span.wrap-name div.bord {
  background-color: #2285c4;
}
.bx-pagination .bx-pagination-container ul li.bx-active span {
  background: #2285c4;
}
header div.header-top div.wrap-main-menu nav.main-menu > li:hover > a > span.wrap-name div.bord {
  background-color: #2285c4;
}
header div.header-top div.wrap-main-menu nav.main-menu > li.parent:hover > a > span.wrap-name div.bord {
  background-color: transparent;
}
header.tone-light div.header-top div.wrap-main-menu nav.main-menu > li.parent:hover > a {
  background-color: #eee;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s;
}
@media (max-width: 767px) {
  header div.header-top table.wrap > tbody > tr > td.right > a.phone {
    background-color: #2285c4;
  }
}
div.switcher ul.switcher-tab li.active,
div.slider-advantages .slick-dots li.slick-active {
  background: #2285c4;
}
div.switcher ul.switcher-tab.left li span {
  border-bottom: 1px dashed #2285c4;
}
div.info-num div.info-num-element.dark div.title,
div.info-num div.info-num-element div.title {
  color: #2285c4;
}
div.slider-gallery .slick-dots li.slick-active,
div.opinion.slider-small div.slider-mini .slick-dots li.slick-active {
  background-color: #2285c4;
}
div.menu-navigation ul.nav>li.active {
  border-left-color: #2285c4;
}
div.menu-banners .slick-dots li.slick-active {
  background-color: #2285c4;
}
div.catalog-block div.catalog-tab-element.active div.name-wrap div.line {
  background-color: #2285c4;
}
div.cart-info-block div.tabs-pic div.mini-pic.active table td div.pic-border {
  border-color: #2285c4;
}
