body{
    font-family: 'El Messiri', sans-serif, Arial, 'PT Sans Caption';
}
.bold{
	font-family: 'El Messiri', sans-serif, Arial, 'PT Sans Caption';
    font-weight: 700;
}
@media (min-width: 992px){
	header div.header-top div.main-phone div.ic-open-list-contact{
		top: 0px;
	}
	header div.header-top div.wrap-main-menu nav.main-menu > li > a{
        padding: 10px 20px 0;
    }
    header div.header-top div.wrap-main-menu nav.main-menu > li.parent > a > span.wrap-name > span{
	    background-position: right 7px;
	}
	header div.header-top div.wrap-main-menu nav.main-menu > li > a > span.wrap-name div.bord{
        bottom: -15px;
    }

	div.open-menu div.main-desciption.backdrop,
	header div.header-top div.main-desciption.backdrop{
		padding: 12px 23px 10px;
	}

	footer div.footer-menu-wrap div.email a{
		background-position: left 1px;
	}
	footer div.footer-menu-wrap div.phone div.phone-value{
		background-position: left 1px;
	}
	div.open-menu div.footer-menu-wrap div.phone div.phone-value{
		background-position: left 1px;
	}
	div.open-menu div.footer-menu-wrap div.email a{
		background-position: left 1px;
	}
	div.empl div.element div.empl-email a,
	div.empl-full div.empl-email a{
		background-position: left 6px;
	}
	div.empl div.element div.empl-phone span,
	div.empl-full div.empl-phone span{
		background-position: left 1px;
	}
	form.form ul.form-radio li{
		padding-bottom: 5px;
	}
	form.form ul.form-radio li label{
	    padding: 4px 0 3px 25px;
	}
	form.form ul.form-check li label{
	    padding: 1px 0 3px 25px;
	}
	form.form div.load-file label span{
		background-position: left 1px;
	}
	div.descriptive div.descriptive-tabs-wrap ul.tabs li{
	    padding: 17px 20px 13px;
	}
	.button-def.big{
	    padding: 21px 35px 18px;
	}
	div.first-slider div.first-block div.first-block-container div.buttons div.button a{
		padding: 21px 35px 18px;
	}
	div.switcher ul.switcher-tab.left li{
	    padding: 23px 30px 16px 15px;
	}
	div.tarif div.tarif-item div.tarif-element ul li.point-green,
	div.tarif-2 div.tarif-table div.tarif-cell.text-part div.tarif-body div.list-wrap ul.adv-plus-minus li.point-green{
		background-position: left 6px;
	}
	div.tarif div.tarif-item div.tarif-element ul li,
	div.tarif-2 div.tarif-table div.tarif-cell.text-part div.tarif-body div.list-wrap ul.adv-plus-minus li{
		background-position: left 6px;
	}
	div.tariff-container ul.adv-plus-minus li.point-green{
		background-position: left 6px;
	}
	div.tariff-container ul.adv-plus-minus li{
		background-position: left 6px;
	}
	div.faq-block div.faq div.faq-element{
	    padding: 6px 0 15px 50px;
	}
	div.catalog-main-menu ul.catalog-link li{
		background-position: left 8px;
	}
	div.catalog-block div.catalog-tab-element div.name{
	    padding: 8px 0 4px 35px;
	}
	ol.inner-breadcrumb li a,
	ol.inner-breadcrumb li.active{
	    padding: 9px 10px 5px;
	}
	div.catalog-list-wrap div.element-sort a.sort_btn.active.asc{
	    background-position: right 5px;
	}
	div.catalog-list-wrap div.element-sort a.sort_btn.active.desc{
	    background-position: right 5px;
	}
	div.catalog-list-wrap div.menu-navigation ul.nav > li.back a{
		background-position: left 17px;
	}
	div.cart-char a.style-scroll-ar-down{
		background-position: right 4px;
	}
	div.cart-info-block div.desc-part a.style-scroll-ar-down{
		background-position: right 4px;
	}
	div.switcher ul.switcher-tab li{
		padding: 15px 20px 5px;
	}
}