@media (min-width: 1200px) {
  .secondary:hover {
    background-color: #e5420b;
  }
  a.main-color:hover,
  button.main-color:hover,
  input.main-color:hover,
  div.block.small div.slider-gallery .slick-prev:hover,
  div.block.small div.slider-gallery .slick-next:hover,
  div.news div.slider-news .slick-prev:hover,
  div.news div.slider-news .slick-next:hover,
  div.opinion.slider-small div.slider-mini .slick-prev:hover,
  div.opinion.slider-small div.slider-mini .slick-next:hover,
  div.catalog-list-wrap div.section-with-hidden-items div.btn-click.noactive:hover {
    background-color: #c72400;
  }
  div.gallery-block div.gallery-img:hover div.corner-line {
    border-color: #e5420b;
  }
  header div.header-top div.wrap-main-menu nav.main-menu > li:hover > a > span.wrap-name div.bord {
    background-color: #e5420b;
  }
  header div.header-top div.wrap-main-menu nav.main-menu > li.parent:hover > a > span.wrap-name div.bord {
    background-color: transparent;
  }
  header div.header-top div.wrap-main-menu nav.main-menu > li.parent > ul > li:hover > a > div,
  header div.header-top div.wrap-main-menu nav.main-menu > li.parent > ul > li.selected > a > div,
  header div.header-top div.wrap-main-menu nav.main-menu > li.parent > ul > li.parent2 > ul > li:hover > a > div,
  header div.header-top div.wrap-main-menu nav.main-menu > li.parent > ul > li.parent2 > ul > li.selected > a > div,
  header.tone-dark div.header-top div.wrap-main-menu nav.main-menu > li.parent:hover > a,
  div.catalog-list-wrap div.section-with-hidden-items div.btn-click.noactive {
    background-color: #e5420b;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
  }
  header.tone-light div.header-top div.wrap-main-menu nav.main-menu > li.parent:hover > a {
    background-color: #eee;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
  }
  .wrapper-cart div.cart-inner div.body td.left-p div.buttons table td.left a.secondary:hover {
    background-color: #e5420b;
  }
  .open-cart-menu.no-empty:hover div.count {
    background-color: #c72400;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
  }
}
.main-color,
div.news div.slider-news .slick-prev,
div.news div.slider-news .slick-next {
  background-color: #e5420b;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s;
}
.secondary {
  background-color: rgba(241,241,241,0.7);
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s;
}
header div.header-top div.wrap-main-menu nav.main-menu > li > a,
header div.header-top div.wrap-main-menu a.ic-main-menu-burger {
  background-color: transparent;
}
div.open-menu-mobile.tone-dark div.menu-content ul.mobile-menu-list li div.border-mob-menu,
div.block.small div.slider-gallery .slick-prev,
div.block.small div.slider-gallery .slick-next,
div.descriptive div.descriptive-tabs-wrap ul.tabs li.active,
div.opinion.slider-small div.slider-mini .slick-prev,
div.opinion.slider-small div.slider-mini .slick-next {
  background-color: #e5420b;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s;
}
header div.header-top div.wrap-main-menu nav.main-menu > li.selected > a > span.wrap-name div.bord,
.bx-filter .bx-ui-slider-pricebar-v {
  background-color: #e5420b;
}
.bx-pagination .bx-pagination-container ul li.bx-active span {
  background: #e5420b;
}
@media (min-width: 992px) and (max-width: 1199px) {
  div.catalog-list-wrap div.section-with-hidden-items div.btn-click.noactive {
    background-color: #e5420b;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
  }
}
@media (max-width: 767px) {
  header div.header-top table.wrap > tbody > tr > td.right > a.phone,
  .open-cart-mob.no-empty,
  header.top.on.fixed .open-cart-mob.no-empty div.bg-color {
    background-color: #e5420b;
  }
}
div.switcher ul.switcher-tab li.active,
div.slider-advantages .slick-dots li.slick-active {
  background: #e5420b;
}
div.switcher ul.switcher-tab.left li span {
  border-bottom: 1px dashed #e5420b;
}
div.info-num div.info-num-element.dark div.title,
div.info-num div.info-num-element div.title,
i.hint-sku {
  color: #e5420b;
}
div.menu-navigation ul.nav>li.active {
  border-left-color: #e5420b;
}
div.slider-gallery .slick-dots li.slick-active,
div.opinion.slider-small div.slider-mini .slick-dots li.slick-active,
div.menu-banners .slick-dots li.slick-active,
div.catalog-block div.catalog-tab-element.active div.name-wrap div.line,
.open-cart.no-empty,
.open-cart-menu.no-empty div.count,
div.search-body div.sections-main div.section-box-wrap.found table.section-box td.pic,
ul.sku-props li.detail-text.active {
  background-color: #e5420b;
}
div.cart-info-block div.tabs-pic div.mini-pic.active table td div.pic-border {
  border-color: #e5420b;
}
.wrapper-cart div.open-cart.no-empty .before_pulse,
.wrapper-cart div.open-cart.no-empty .after_pulse {
  border: 1px solid #e5420b;
}
a.callphone {
  background-color: #c72400;
}
