body{
    font-family: 'Arimo', sans-serif, Arial, 'PT Sans Caption';
}
.bold{
    font-family: 'Arimo', sans-serif, Arial, 'PT Sans Caption';
    font-weight: 700;
}
@media (min-width: 992px){
    
    header div.header-top div.wrap-main-menu nav.main-menu > li > a > span.wrap-name div.bord{
        bottom: -19px;
    }
    header div.header-top div.main-phone div.ic-open-list-contact{
        top: 2px;
    }
    header div.header-top div.wrap-main-menu nav.main-menu > li > a{
        padding: 6px 20px 0;
    }
    header div.header-top div.wrap-main-menu nav.main-menu > li.parent > a > span.wrap-name > span{
        background-position: right 5px;
    }
    div.catalog-list-wrap div.element-sort a.sort_btn.active.asc,
    div.catalog-list-wrap div.element-sort a.sort_btn.active.desc{
        background-position: right 4px;
    }
    div.menu-navigation ul.new-detail > li.back a{
    	background-position: left 2px;
    }
    div.empl div.element div.empl-phone span{
    	background-position: left 2px;
    }
    div.empl div.element div.empl-email a{
    	background-position: left 4px;
    }
    div.empl-full div.empl-phone span{
    	background-position: left 2px;
    }
    div.empl-full div.empl-email a{
    	background-position: left 5px;
    }
    div.switcher ul.switcher-tab li{
        padding: 12px 20px 5px;
    }
}