.main1, h1, h2, h3, h4, h5, h6{
	font-family: 'El Messiri', sans-serif, Arial, 'PT Sans Caption';
    font-weight: 700;
}
.main2{
    font-family: 'El Messiri', sans-serif, Arial, 'PT Sans Caption';
    font-weight: 400;
}
div.advantages.flat.big div.element div.text-wrap div.name,
div.advantages.flat.small div.element div.text-wrap div.name{
    font-size: 22px;
    line-height: 28px;
}